
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>
    <input type="text" hidden value="@Session["Custid"]" />
    <div>
        <table class="table" align="center">
            <tr>
                <td>
                    <div><img src="~/images/紅茶.jpeg" title="紅茶" width="400" /></div>
                    <div class="form-group">
                        
                        
                            <label class="col-sm-3 control-label" id="cart1" for="cart1">
                                訂購數量:
                            </label>
                        <select class=" col-sm-6 selectpicker show-tick form-control" id="cart1" align="right" data-width="fit">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            

                            </div>


</td>
                <td>
                    <div><img src="~/images/綠茶.jpeg" title="綠茶" width="400" /></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" id="cart2" for="cart2">
                            訂購數量:
                        </label>
                        <select class=" col-sm-6 selectpicker show-tick form-control" id="cart2" align="right" data-width="fit">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>


                </td>
                <td align="center">
                    <div> <img src="~/images/咖啡.jpeg" title="咖啡" width="400" /></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" id="cart3" for="cart3">
                            訂購數量:
                        </label>
                        <select class=" col-sm-6 selectpicker show-tick form-control" id="cart3" align="right" data-width="fit">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>




                </td>
            </tr>
            <tr>
                <td align="center"></td>
                <td align="center"></td>

                <td align="center"></td>



            </tr>
        </table>

    </div>
</form><div>

</div><div>

</div>


